.modal-dialog {
    height: 90%; /* = 90% of the .modal-backdrop block = %90 of the screen */
  }
  .modal-content {
    height: 100%; /* = 100% of the .modal-dialog block */
  }


  .show-map-link-btn {
    width: 5%; 
    text-align: center; 
    cursor: pointer;
  }