<div class="row" style="margin-top: 20px;">
  <div class="col-md">
    <div class="form-row" *ngIf="displaytownsToAdd">

      <div class="form-group col-md-4">
        <label class="control-label required">Ville</label>
        <ng-select [items]="townsList" bindLabel="townWording" bindValue="id" [multiple]="false"
          placeholder="Choisir la ou les villes cible(s)" [(ngModel)]="selectedTownId" name="townIds">
        </ng-select>
      </div>

      <div class="form-group col-md">
        <button type="button" class="btn btn-primary submitBtn" style="margin-top: 30px;" (click)="addCampaignTowns()"
          [disabled]="selectedTownId == undefined">
          <i class="fa fa-plus" aria-hidden="true"></i> Ajouter
        </button>
      </div>

    </div>
  </div>
</div>



<div class="row table-responsive">
  <div class="col">

    <table class="table table-bordered" width="100%" cellspacing="0">
      <thead>
        <tr>
          <th>Ville</th>
          <th>Taux de pénétration</th>
          <th>Nombre de business</th>
          <th>Coût</th>
          <th></th>

          <th style="width: 5%; text-align: center;"></th>
        </tr>
      </thead>

      <tbody>

        <tr *ngIf="detailedCampaignTownsList != undefined && detailedCampaignTownsList.length == 0">
          <td colspan="6" style="text-align: center;">Aucun élément à afficher</td>
        </tr>


        <tr *ngFor="let detailedTown of detailedCampaignTownsList">

          <td>{{ detailedTown.town.city }}</td>
          <td>{{ detailedTown.penetrationRate }}%</td>
          <td>{{ detailedTown.nbrBusinesses }}</td>
          <td>{{ detailedTown.townCost | currency:'EUR':'symbol':'3.2-2':'fr' }}</td>

          <td class="deleteIcon" style="cursor: pointer;" (click)='deleteCampaigntown(detailedTown.town)'>
            <i class="fa fa-trash" aria-hidden="true"></i>
          </td>

          <td class="linkBtn show-map-link-btn" data-toggle="modal" data-target="#myModal"
            (click)='setModalTown(detailedTown)'>
            <i class="fas fa-map"></i>
          </td>

        </tr>
      </tbody>

    </table>

  </div>
</div>

<!-- The Modal -->
<div class="modal fade" id="myModal">
  <div class="modal-dialog modal-xl">
    <div class="modal-content" *ngIf="selectedTown != undefined">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">{{ selectedTown.town.city }}</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">

        <!-- btn show map show liste-->
        <div class="row">
          <div class="col-md">

            <button *ngIf="dispalyMap" type="button" class="btn btn-light" style="margin-left: 1%;" (click)="showMap()">
              <i class="fa fa-table" aria-hidden="true"></i> Liste
            </button>

            <button *ngIf="!dispalyMap" type="button" class="btn btn-light" style="margin-left: 1%;"
              (click)="showMap()">
              <i class="fa fa-table" aria-hidden="true"></i> Carte
            </button>

          </div>

        </div>
       
        <div *ngIf="!dispalyMap"  class="row" style="height: 100%; text-align: center;">
          <div class="col-md" style="margin-top: 1%;">
            <app-list-town-businesses [businesses]="placesList">
            </app-list-town-businesses>
          </div>
        </div>

        <!-- show busnisses in map-->        
        <div *ngIf="dispalyMap" class="row" style="height: 100%; text-align: center;">
          <div class="col-md">
            <app-campaign-town-details [details]="selectedTown" [businessTypes]="campaign.campaignBusinessTypes">
            </app-campaign-town-details>
          </div>
        </div>

      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
<!-- the end of my modal-->